In [1]:
'''1.Create a function to perform basic arithmetic operations that includes addition, subtraction, multiplication and division
on a string number (e.g. '12 + 24' or '23 - 21' or '12 // 12' or '12 * 21').Here, we have 1 followed by a space, operator 
followed by another space and 2. For the challenge, we are going to have only two numbers between 1 valid operator. The 
return value should be a number. eval() is not allowed. In case of division, whenever the second number equals '0' return -1.'''
def arithmeticoperation(s):
    l=s.split()
    if l[1]=="+":
        return int(l[0])+int(l[2])
    elif l[1]=="-":
        return int(l[0])-int(l[2])
    elif l[1]=="*":
        return int(l[0])*int(l[2])
    elif l[1]=="//":
        if int(l[2])==0:
            return -1
        else:
            return int(l[0])//int(l[2])

In [2]:
arithmeticoperation("12 + 12")

24

In [3]:
arithmeticoperation("12 - 12")

0

In [4]:
arithmeticoperation("12 * 12")

144

In [5]:
arithmeticoperation("12 // 0")

-1

In [6]:
'''2. Write a function that takes the coordinates of three points in the form of a 2d array and returns the perimeter
of the triangle. The given points are the vertices of a triangle on a two-dimensional plane.'''
import itertools
import math
def perimeter(l):
    l1,l2,l3=l[0],l[1],l[2]
    c=itertools.combinations([l1,l2,l3],2)
    s=0
    for i in c:
        s+=math.dist(i[0],i[1])
    return round(s,2)

In [7]:
perimeter([[15,7],[5,22],[11,1]])

47.08

In [8]:
perimeter([[0,0],[0,1],[1,0]])

3.41

In [9]:
perimeter([[-10,-10],[10,10],[-10,10]])

68.28

In [10]:
'''3. A city skyline can be represented as a 2-D list with 1s representing buildings.Create a function that takes a skyline
(2-D list of 0's and 1's) and returns the height of the tallest skyscraper.'''
def tallestbuilding(l):
    n=0
    for i in range(len(l[0])):
        s=0
        for j in range(len(l)):
            s+=l[j][i]
        n=max(n,s)
    return n

In [11]:
tallestbuilding([[0, 0, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]])

3

In [12]:
tallestbuilding([[0, 1, 0, 0],
[0, 1, 0, 0],
[0, 1, 1, 0],
[1, 1, 1, 1]])

4

In [13]:
tallestbuilding([[0, 0, 0, 0],
[0, 0, 0, 0],
[1, 1, 1, 0],
[1, 1, 1, 1]
            ])

2

In [14]:
tallestbuilding([[0, 0, 0, 0, 0, 0],
[0, 0, 0, 0, 1, 0],
[0, 0, 1, 0, 1, 0],
[0, 1, 1, 1, 1, 0],

[1, 1, 1, 1, 1, 1]])

4

In [15]:
'''This quarterly scheme is calculated with a threshold target of 32 days per quarter, and the incentive payment for each 
billable day in excess of such threshold target is shown as follows:
Days                        Bonus
0 to 32 days             Zero
33 to 40 days            SGD$325 per billable day
41 to 48 days            SGD$550 per billable day
Greater than 48 days     SGD$600 per billable day'''
def bonus(n):
    if n<=32:
        return 0
    elif n>32 and n<=40:
        return (n-32)*325
    elif n>40 and n<=48:
        return (8*325)+(n-40)*550
    else:
        return (8*325)+(8*550)+(n-48)*600

In [16]:
bonus(15)

0

In [17]:
bonus(37)

1625

In [18]:
bonus(50)

8200

In [19]:
'''5. A number is said to be Disarium if the sum of its digits raised to their  respective positions is the number itself.
Create a function that determines whether a number is a Disarium or not.'''
def isdisarium(n):
    s=0
    l=1
    for i in str(n):
        s+=int(i)**l
        l+=1
    if s==n:
        return True
    return False

In [20]:
isdisarium(75)

False

In [21]:
isdisarium(135)

True

In [22]:
isdisarium(544)

False

In [23]:
isdisarium(518)

True

In [24]:
isdisarium(466)

False

In [25]:
isdisarium(8)

True